
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    <script src="~/JS2/test.js"></script>

    <script src="/Views/Home/js/jquery.min.js"></script>


    <script id="test1" type="text/html">
        <h1>{{Name}}</h1>
    </script>
    <script>
        var obj = { Name: "aaron" }

        var clickObj = {
            func: function () {
                var html = template('test1', obj);
                document.getElementById('content').innerHTML = html;
            }
        }

        var func = function () {
            var html = template("test", obj);
            document.getElementById('content').innerHTML = html;
        }
        function copyUrl2() {
            var Url2 = document.getElementById("txtMy").value;
            var oInput = document.createElement('input');
            oInput.value = Url2;
            document.body.appendChild(oInput);
            oInput.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令
            oInput.className = 'oInput';
            oInput.style.display = 'none';
            alert('复制成功');
        }
    </script>
</head>
<body>
    <div>
        <input type="text" id="txtMy" value="123" />
        <input onclick="copyUrl2()" type="button" value="点我" />

    </div>


    <div id="content">

    </div>
</body>
</html>
