<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ApiUrl" value="http://localhost:20822/HotUpdate/UpdateController"/>
    <add key="AdminUrl" value="http://localhost:63476/Activity/Index"/>
  </appSettings>
</configuration>