<?xml version="1.0"?>
<configuration>
  <Ftp><![CDATA[D:\MyLove\TotalCommand\wcx_ftp.ini]]></Ftp>
  <SQLShortCut><![CDATA[C:\Users\123\AppData\Local\Red Gate\SQL Prompt 7\Snippets]]></SQLShortCut>
  <SQLConnection><![CDATA[server=10.1.20.120,5388;Uid=serp;Pwd=PTDSe/XycOhQWQ8Cu5tIZg;DataBase=serp3;Connection Timeout=120;Application Name=serp3_test1]]></SQLConnection>
  <CompanyProject><![CDATA[D:\MyConfig\我做过的项目\]]></CompanyProject>
  <Host><![CDATA[C:\Windows\System32\drivers\etc\hosts]]></Host>
  <HostIp><![CDATA[127.0.0.1]]></HostIp>
  <IISWebUrl><![CDATA[.web.cn]]></IISWebUrl>
  <IISMobileUrl><![CDATA[.mobile.cn]]></IISMobileUrl>
  <IISWebIp><![CDATA[1]]></IISWebIp>
  <IISMobileIp><![CDATA[2]]></IISMobileIp>
  <OldMadnuId>["10636","10532","10646","10646","10636"]</OldMadnuId>
  <OldFtp>["10036","10377","10646","10532","10636"]</OldFtp>
  <ErWeiMaPath><![CDATA[E:\ZPCode\解析二维码.jpg]]></ErWeiMaPath>
  <StandardSQLShortCut><![CDATA[C:\Users\123\AppData\Local\Red Gate\SQL Prompt 7\Snippets\standard.sqlpromptsnippet]]></StandardSQLShortCut>
</configuration>